.neutral-button {
  background-color: #eaecee;
  border: none;
  color: black;
}

.correct-button {
  background-color: turquoise;
  border: none;
  color: white;
}

.incorrect-button {
  background-color: red;
  border: none;
  color: white;
}

.verified-button {
  background-color: turquoise;
  border: none;
  color: white;
}

.verify-button {
  background-color: #eaecee;
  border: none;
  color: black;
}

.info-box > div:nth-child(2) > p:nth-child(3) {
  margin-bottom: 4px;
}

.info-box > div:nth-child(2) > p:nth-child(5) {
  margin-bottom: 0px;
}

.info-box > div:nth-child(2) > p:nth-child(4) {
  margin-bottom: 0px;
}

.info-box .info-box-content {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  -ms-flex-pack:center;
  justify-content:center;
  line-height:1.5;
  -ms-flex:1;
  flex:1;
  padding:0 10px
}


.card-deck > div:nth-child(n) {
  /* margin-right: 1px; */
  margin-right: 1rem;
}



.indented-heading {
  padding-left: 12px;
}

.headless-box .card-header {
    padding-top: 0px;
  padding-bottom: 0px;
}

